@font-face {
  font-family: 'Fuzzy Bubbles';
  src: url('FONTS/FuzzyBubbles/FuzzyBubbles-Bold.eot');
  src: url('FONTS/FuzzyBubbles/FuzzyBubbles-Bold.eot?#iefix') format('embedded-opentype'),
    url('FONTS/FuzzyBubbles/FuzzyBubbles-Bold.woff2') format('woff2'),
    url('FONTS/FuzzyBubbles/FuzzyBubbles-Bold.woff') format('woff'),
    url('FONTS/FuzzyBubbles/FuzzyBubbles-Bold.ttf') format('truetype'),
    url('FONTS/FuzzyBubbles/FuzzyBubbles-Bold.svg#FuzzyBubbles-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fuzzy Bubbles';
  src: url('FONTS/FuzzyBubbles/FuzzyBubbles-Regular.eot');
  src: url('FONTS/FuzzyBubbles/FuzzyBubbles-Regular.eot?#iefix') format('embedded-opentype'),
    url('FONTS/FuzzyBubbles/FuzzyBubbles-Regular.woff2') format('woff2'),
    url('FONTS/FuzzyBubbles/FuzzyBubbles-Regular.woff') format('woff'),
    url('FONTS/FuzzyBubbles/FuzzyBubbles-Regular.ttf') format('truetype'),
    url('FONTS/FuzzyBubbles/FuzzyBubbles-Regular.svg#FuzzyBubbles-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
